/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.wrapper {
    background: #146C94;
    width: 100%;
    height: 100px;
    border-color: transparent;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-wrapper-first {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
}

.btn-wrapper-second {
    display: flex;
    padding-right: 30px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
}

.btn-wrapper-first a,
.btn-wrapper-second a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 150ms ease-in;
    border: none;
    outline: none;
    color: #0C2B4E;
    border-radius: 13px;
    background: #AFD3E2;
}

.attendance {
    height: 45px;
    width: 220px;
    font-size: 17px;
}

.avg {
    margin-left: 30px;
    height: 45px;
    width: 220px;
    font-size: 17px;
}

.login {
    padding-left: 25px;
    height: 50px;
    width: 240px;
    font-size: 19px;
    justify-content: flex-start;
    position: relative;
}

.login-img {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    flex-shrink: 0;
}

.login::after {
    content: "Вход в аккаунт";
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 70px;
}

.login span {
    visibility: hidden;
}

.attendance:hover,
.avg:hover,
.login:hover {
    background: #9dbbc7;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.attendance:active,
.avg:active,
.login:active {
    transform: translateY(0);
}

.btn-wrapper-first a.active {
    background: #19A7CE;
    color: white;
    box-shadow: 0 4px 15px rgba(25, 167, 206, 0.3);
}

.btn-wrapper-first a.active:hover {
    background: #1487a7;
}

@media (max-width: 1200px) {
    .attendance, .avg {
        width: 200px;
        font-size: 16px;
    }
    
    .login {
        width: 220px;
        font-size: 18px;
    }
    
    .login::after {
        padding-left: 65px;
    }
}

@media (max-width: 992px) {
    .header {
        flex-direction: column;
        padding: 15px 0;
        height: auto;
    }
    
    .btn-wrapper-first, .btn-wrapper-second {
        width: 100%;
        padding: 10px 30px;
        justify-content: center;
    }
    
    .btn-wrapper-first {
        margin-bottom: 15px;
    }
    
    .avg {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        height: auto;
        min-height: 100px;
    }
    
    .btn-wrapper-first {
        flex-direction: column;
        gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .attendance, .avg {
        width: 100%;
        max-width: 300px;
        margin-left: 0 !important;
    }
    
    .btn-wrapper-second {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .login {
        width: 100%;
        max-width: 300px;
    }
    
    .login::after {
        padding-left: 60px;
    }
}

@media (max-width: 480px) {
    .attendance, .avg {
        font-size: 15px;
        height: 40px;
    }
    
    .login {
        font-size: 16px;
        height: 45px;
    }
    
    .login-img {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    
    .login::after {
        font-size: 16px;
        padding-left: 45px;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper {
    animation: fadeInDown 0.5s ease-out;
}