.wrapper {
    background: #146C94;
    width: 100%;
    height: 100px;
    border-color: transparent;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
        /* border: 1px solid red; */
    height: 100%;

}

.btn-wrapper-first {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid blue; */
    align-items: center;
    height: 100%;
    width: 50%;
}

.btn-wrapper-second {
    display: flex;
    padding-right: 30px;
    justify-content: flex-end;
    /* border: 2px solid purple; */
    align-items: center;
    height: 100%;
    width: 50%;
}

.avg {
    margin-left: 30px;
    cursor: pointer;
    background: #AFD3E2;
    border: transparent;
    border-radius: 13px;
    height: 45px;
    width: 220px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #0C2B4E;
    transition: all 150ms ease-in;
}

.attendance {
    cursor: pointer;
    background: #AFD3E2;
    border: none;
    border-radius: 13px;
    height: 45px;
    width: 220px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #0C2B4E;
    transition: all 150ms ease-in;
}

.login {
    padding-left: 25px;
    cursor: pointer;
    background: #AFD3E2;
    border: none;
    /* padding-left: 20px; */
    border-radius: 13px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: #0C2B4E;
    transition: all 150ms ease-in;
}

.login-img {
    height: 30px;
    display: flex;
    margin-right: 15px;
}

.avg:hover {
    background: #9dbbc7;
}

.attendance:hover {
    background: #9dbbc7;
}

.login:hover {
    background: #9dbbc7;
}